@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap");
* {
  margin: unset;
  padding: unset;
  outline: unset;
  border: unset;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  font-variant-numeric: lining-nums;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

input,
textarea,
select,
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, button::-webkit-input-placeholder {
  color: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, button::-moz-placeholder {
  color: inherit;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, button:-ms-input-placeholder {
  color: inherit;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, button::-ms-input-placeholder {
  color: inherit;
}
input::placeholder,
textarea::placeholder,
select::placeholder,
button::placeholder {
  color: inherit;
}
input option,
textarea option,
select option,
button option {
  background-color: inherit;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
button:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #333 !important;
}

input, textarea, label {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, label::-webkit-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder, label::-moz-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, label:-ms-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, label::-ms-input-placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}
input::placeholder, textarea::placeholder, label::placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
}

a {
  cursor: pointer;
  color: inherit;
}

img {
  vertical-align: middle;
  font-style: italic;
}

:root {
  --side-gap: 80px;
  --full: minmax(var(--side-gap), 1fr);
  --content: min(var(--content-width), 100% - var(--side-gap) * 2);
  --breakout: minmax(0, 100px);
  --content-width: 1800px;
  --grid-gap: 16px;
  --section-gap: 100px;
  --header-gap: 86px;
}
@media (max-width: 1280px) {
  :root {
    --side-gap: 60px;
    --section-gap: 80px;
    --header-gap: 82px;
  }
}
@media (max-width: 960px) {
  :root {
    --side-gap: 40px;
    --section-gap: 60px;
    --header-gap: 77px;
  }
}
@media (max-width: 640px) {
  :root {
    --side-gap: 20px;
    --grid-gap: 10px;
    --header-gap: 72px;
  }
}

* {
  line-height: 140%;
}

html, body {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: white;
  font-size: 12px;
}
@media (min-width: 480px) {
  html, body {
    font-size: calc(0.00625 * 100vw + 9px);
  }
}
@media (min-width: 1760px) {
  html, body {
    font-size: 20px;
  }
}

section, header, footer {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: [full-start] var(--full) [breakout-start] var(--breakout) [content-start] var(--content) [content-end] var(--breakout) [breakout-end] var(--full) [full-end];
}
section > *, header > *, footer > * {
  grid-column: content;
}
section .full, header .full, footer .full {
  grid-column: full;
}
section .breakout, header .breakout, footer .breakout {
  grid-column: breakout;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  font-weight: 400;
}

h1 {
  font-size: 32px;
}
@media (min-width: 480px) {
  h1 {
    font-size: calc(0.034375 * 100vw + 15.5px);
  }
}
@media (min-width: 1760px) {
  h1 {
    font-size: 76px;
  }
}

h2 {
  font-size: 24px;
}
@media (min-width: 480px) {
  h2 {
    font-size: calc(0.03125 * 100vw + 9px);
  }
}
@media (min-width: 1760px) {
  h2 {
    font-size: 64px;
  }
}

h3 {
  font-size: 14px;
}
@media (min-width: 480px) {
  h3 {
    font-size: calc(0.0140625 * 100vw + 7.25px);
  }
}
@media (min-width: 1760px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 14px;
}
@media (min-width: 480px) {
  h4 {
    font-size: calc(0.0078125 * 100vw + 10.25px);
  }
}
@media (min-width: 1760px) {
  h4 {
    font-size: 24px;
  }
}

button, a.button {
  display: grid;
  cursor: pointer;
  border-radius: 100px;
  padding: 22px 32px;
  background: #15a0fd;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #000;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
}
@media (min-width: 480px) {
  button, a.button {
    font-size: calc(0.003125 * 100vw + 12.5px);
  }
}
@media (min-width: 1760px) {
  button, a.button {
    font-size: 18px;
  }
}
@media (max-width: 960px) {
  button, a.button {
    padding: 12px 24px;
  }
}
button:hover, a.button:hover {
  background: #76c8ff;
}

input[type=text] {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 48px;
  padding: 20px 24px;
  width: 100%;
  background: rgba(11, 15, 21, 0.7);
  font-size: 14px;
}
@media (min-width: 480px) {
  input[type=text] {
    font-size: calc(0.003125 * 100vw + 12.5px);
  }
}
@media (min-width: 1760px) {
  input[type=text] {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  input[type=text] {
    padding: 14px 24px;
  }
}
input[type=text]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input[type=text]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input[type=text]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input[type=text]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

fieldset.select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 3;
  font-size: 12px;
}
@media (min-width: 480px) {
  fieldset.select {
    font-size: calc(0.0046875 * 100vw + 9.75px);
  }
}
@media (min-width: 1760px) {
  fieldset.select {
    font-size: 18px;
  }
}
fieldset.select:hover {
  z-index: 5;
}
fieldset.select div.select_choice {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  padding: 24px;
  background: #0b0f15;
}
@media (max-width: 960px) {
  fieldset.select div.select_choice {
    padding: 12px 24px;
  }
}
fieldset.select div.select_choice input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: transparent;
}
fieldset.select div.select_choice input.placeholder + span {
  opacity: 0.6;
}
fieldset.select div.select_choice span {
  display: none;
}
fieldset.select div.select_choice input:checked + span {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
fieldset.select:focus-within {
  z-index: 5;
}
fieldset.select:focus-within div.select_choice {
  border-color: white;
}
fieldset.select:focus-within div.select_dropdown {
  grid-template-rows: 1fr;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: #0b0f15;
}
fieldset.select:focus-within img.arrow, fieldset.select:focus-within svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: calc(50% - 3px);
}
fieldset.select div.select_dropdown {
  position: absolute;
  top: calc(100% + 10px);
  margin-top: -1px;
  display: grid;
  grid-template-rows: 0fr;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  z-index: 6;
  border: 0px solid transparent;
  border-radius: 20px;
  background: #0b0f15;
  overflow: hidden;
}
fieldset.select div.select_dropdown div.select_dropdown_overflow {
  overflow: hidden;
}
fieldset.select div.select_dropdown div.select_dropdown_content {
  display: grid;
  max-height: 464px;
  overflow: auto;
  padding: 8px 24px;
}
fieldset.select div.select_dropdown div.select_dropdown_content::-webkit-scrollbar {
  width: 20px;
  height: calc(100% - 80px);
}
fieldset.select div.select_dropdown div.select_dropdown_content::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: linear-gradient(to right, transparent 0px, transparent 18px, #15a0fd 10px, #15a0fd 20px);
}
fieldset.select div.select_dropdown label {
  cursor: pointer;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3019607843);
}
fieldset.select div.select_dropdown label:hover {
  opacity: 0.7;
}
fieldset.select div.select_dropdown label:last-child {
  border: unset;
}
fieldset.select div.select_dropdown input {
  width: 100%;
  margin-top: -20px;
  background: rgba(0, 0, 0, 0.05);
  padding: 15px 20px;
}
fieldset.select div.select_dropdown:has(.active) label {
  display: none;
}
fieldset.select div.select_dropdown:has(.active) label.active {
  display: block;
}

div.swiper-navigation {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 8px;
}
div.swiper-navigation div.arrow {
  cursor: pointer;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 84px;
  width: 72px;
  height: 72px;
  background: #15a0fd;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
@media (max-width: 1280px) {
  div.swiper-navigation div.arrow {
    width: 62px;
    height: 62px;
  }
}
@media (max-width: 960px) {
  div.swiper-navigation div.arrow {
    width: 50px;
    height: 50px;
  }
}
div.swiper-navigation div.arrow:hover {
  background: #76c8ff;
}
div.swiper-navigation div.arrow:first-child img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
div.swiper-navigation div.arrow.swiper-button-disabled {
  opacity: 0.3;
}

div.swiper-pagination {
  position: relative;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  z-index: 2;
  margin-top: 20px;
}
div.swiper-pagination span {
  display: block;
  background: white;
  width: 5px;
  height: 5px;
  opacity: 1;
}
div.swiper-pagination span.swiper-pagination-bullet-active {
  background: #15a0fd;
}

div.breadcrumbs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  overflow: hidden;
  grid-gap: 8px;
  font-size: 12px;
}
@media (min-width: 480px) {
  div.breadcrumbs {
    font-size: calc(0.003125 * 100vw + 10.5px);
  }
}
@media (min-width: 1760px) {
  div.breadcrumbs {
    font-size: 16px;
  }
}
div.breadcrumbs {
  margin-top: 48px;
}
@media (max-width: 1280px) {
  div.breadcrumbs {
    margin-top: 32px;
  }
}
@media (max-width: 960px) {
  div.breadcrumbs {
    margin-top: 24px;
  }
}
@media (max-width: 640px) {
  div.breadcrumbs {
    margin-top: 20px;
  }
}
div.breadcrumbs span {
  opacity: 0.6;
}
div.breadcrumbs span.divide {
  opacity: 1;
}

div.work img.preview {
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 8px;
  margin-bottom: 40px;
}
@media (max-width: 960px) {
  div.work img.preview {
    margin-bottom: 24px;
  }
}
@media (max-width: 640px) {
  div.work img.preview {
    margin-bottom: 16px;
  }
}
div.work div.content div.text {
  position: relative;
  display: grid;
  grid-gap: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 150px;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
@media (max-width: 1280px) {
  div.work div.content div.text {
    padding-right: 80px;
    grid-gap: 16px;
  }
}
@media (max-width: 960px) {
  div.work div.content div.text {
    padding-bottom: 16px;
    margin-bottom: 16px;
    grid-gap: 8px;
  }
}
div.work div.content div.text span {
  opacity: 0.7;
}
div.work div.content div.text button {
  position: absolute;
  top: 0;
  right: 56px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-radius: 84px;
  padding: 0px;
  width: 64px;
  height: 40px;
  background: #15a0fd;
}
@media (max-width: 1280px) {
  div.work div.content div.text button {
    right: 0;
  }
}
@media (max-width: 640px) {
  div.work div.content div.text button {
    position: absolute;
    width: 49px;
    height: 30px;
  }
}
div.work div.content div.text button:hover {
  background: white;
}
div.work div.content div.text a:hover {
  color: #15a0fd;
}
div.work div.content div.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--grid-gap);
}
div.work div.content div.details div {
  display: grid;
  grid-gap: 8px;
}
@media (max-width: 640px) {
  div.work div.content div.details div {
    grid-gap: 6px;
  }
}
div.work div.content div.details span.note {
  opacity: 0.7;
}

img.dots {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

dialog[data-modal-name=callback] {
  background: transparent;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 1020px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 16px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=callback] {
    height: 100vh;
    top: 0;
    left: 0;
    border-radius: unset;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
}
dialog[data-modal-name=callback] div.container {
  position: relative;
  background: transparent;
  z-index: 10;
  color: white;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px 72px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=callback] div.container {
    grid-template-columns: 1fr;
    grid-gap: 24px;
    padding: 30px 20px;
  }
}
dialog[data-modal-name=callback] div.text {
  display: grid;
  grid-gap: 16px;
  grid-column: 2 span;
  padding-right: 100px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=callback] div.text {
    grid-column: unset;
    grid-gap: 10px;
    padding-right: 60px;
  }
}
dialog[data-modal-name=callback] div.text h3 {
  font-size: 24px;
}
@media (min-width: 480px) {
  dialog[data-modal-name=callback] div.text h3 {
    font-size: calc(0.0125 * 100vw + 18px);
  }
}
@media (min-width: 1760px) {
  dialog[data-modal-name=callback] div.text h3 {
    font-size: 40px;
  }
}
dialog[data-modal-name=callback] div.text span {
  max-width: 480px;
}
dialog[data-modal-name=callback] form {
  display: grid;
  grid-gap: 48px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=callback] form {
    grid-gap: 24px;
  }
}
dialog[data-modal-name=callback] form div.inputs {
  display: grid;
  grid-gap: 24px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=callback] form div.inputs {
    grid-gap: 20px;
  }
}
dialog[data-modal-name=callback] form div.input {
  display: grid;
  grid-gap: 12px;
}
@media (max-width: 640px) {
  dialog[data-modal-name=callback] form button {
    width: 100%;
  }
}
dialog[data-modal-name=callback] div.list {
  position: relative;
  display: grid;
  grid-gap: 44px;
  z-index: 1;
}
@media (max-width: 640px) {
  dialog[data-modal-name=callback] div.list {
    grid-gap: 20px;
  }
}
dialog[data-modal-name=callback] div.list div.contact {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 32px;
}
dialog[data-modal-name=callback] div.list div.contact div.icon {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: #000;
  border: 1px solid #15a0fd;
  border-radius: 40px;
  width: 80px;
  height: 80px;
}
@media (max-width: 1600px) {
  dialog[data-modal-name=callback] div.list div.contact div.icon {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 960px) {
  dialog[data-modal-name=callback] div.list div.contact div.icon {
    width: 40px;
    height: 40px;
  }
}
dialog[data-modal-name=callback] div.list div.contact div.description {
  display: grid;
  grid-gap: 8px;
}
dialog[data-modal-name=callback] div.list div.contact div.description a {
  white-space: nowrap;
}
dialog[data-modal-name=callback] div.list div.contact div.description span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
@media (min-width: 480px) {
  dialog[data-modal-name=callback] div.list div.contact div.description span {
    font-size: calc(0.0046875 * 100vw + 9.75px);
  }
}
@media (min-width: 1760px) {
  dialog[data-modal-name=callback] div.list div.contact div.description span {
    font-size: 18px;
  }
}
dialog[data-modal-name=callback] div.cross {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 84px;
  width: 72px;
  height: 72px;
  background: #15a0fd;
}
@media (max-width: 960px) {
  dialog[data-modal-name=callback] div.cross {
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 640px) {
  dialog[data-modal-name=callback] div.cross {
    width: 30px;
    height: 30px;
  }
}
dialog[data-modal-name=callback] img.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 9;
}

dialog {
  position: fixed;
  opacity: 0;
  left: 100%;
}
dialog::-ms-backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.85);
}
dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.85);
}
dialog::-webkit-scrollbar {
  width: 0;
  height: 0;
}
dialog[open] {
  -webkit-animation-name: dialog;
          animation-name: dialog;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
dialog div.container {
  width: 100%;
  min-height: 100%;
  border-radius: 16px;
  padding: 30px;
  background: black;
  overflow: auto;
}
dialog div.container::-webkit-scrollbar {
  opacity: 0;
  display: none;
}
dialog div.cross {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
dialog div.cross:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #76C8FF;
}

@-webkit-keyframes dialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  background: unset;
  z-index: 3;
}
@media (max-width: 640px) {
  header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
header div.container {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 48px;
}
@media (max-width: 1600px) {
  header div.container {
    grid-gap: 32px;
  }
}
header a.logotype {
  padding-right: 28px;
}
@media (max-width: 480px) {
  header a.logotype {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    padding-right: unset;
  }
}
header a.logotype img {
  width: 160px;
}
@media (max-width: 1280px) {
  header a.logotype img {
    width: 120px;
  }
}
header div.mobile_menu {
  display: none;
  cursor: pointer;
}
@media (max-width: 1280px) {
  header div.mobile_menu {
    display: block;
  }
}
header menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 56px;
}
@media (max-width: 1600px) {
  header menu {
    grid-gap: 32px;
  }
}
@media (max-width: 1280px) {
  header menu {
    display: none;
  }
}
header menu div.submenu {
  position: relative;
  cursor: pointer;
}
header menu div.submenu div.title {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 8px;
}
header menu div.submenu div.title img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
header menu div.submenu div.list {
  display: grid;
  grid-template-rows: 0fr;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  z-index: 1;
  background: black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header menu div.submenu div.list div.overflow {
  overflow: hidden;
}
header menu div.submenu div.list div.wrap {
  display: grid;
  padding: 16px;
}
header menu div.submenu div.list a {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3019607843);
}
header menu div.submenu div.list a:last-child {
  border: unset;
}
header menu div.submenu div.list a:hover {
  color: #15A0FD;
}
header menu div.submenu div.title.open img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
header menu div.submenu div.title.open + div.list {
  grid-template-rows: 1fr;
}
header menu .link {
  position: relative;
}
header menu .link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 0%;
  height: 4px;
  background: #15A0FD;
  margin-top: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header menu .link:hover::after {
  width: 100%;
}
header div.search {
  cursor: pointer;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  grid-gap: 8px;
  border: 1px solid #15A0FD;
  border-radius: 60px;
  padding: 12px 16px;
  padding-right: 24px;
  color: rgba(21, 160, 253, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 960px) {
  header div.search {
    display: none;
  }
}
header div.search svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header div.search:hover {
  border-color: #76c8ff;
  color: #76c8ff;
}
header div.search:hover svg path {
  stroke: #76c8ff;
}
header a.phone {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  grid-gap: 8px;
}
header a.phone span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 480px) {
  header a.phone span {
    display: none;
  }
}
header a.phone:hover span {
  color: #15A0FD;
}
header button {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-width: 640px) {
  header button {
    display: none;
  }
}
header div.search_popup {
  opacity: 0;
  pointer-events: none;
  display: block;
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: 6;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 900px;
  width: 100%;
  padding-left: var(--side-gap);
  padding-right: var(--side-gap);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header div.search_popup input {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 48px;
  padding: 20px 24px;
  width: 100%;
  background: rgba(11, 15, 21, 0.7);
  font-size: 12px;
}
@media (min-width: 480px) {
  header div.search_popup input {
    font-size: calc(0.0046875 * 100vw + 9.75px);
  }
}
@media (min-width: 1760px) {
  header div.search_popup input {
    font-size: 18px;
  }
}
header div.search_popup input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.search_popup input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.search_popup input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.search_popup input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.search_popup input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.search_popup input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-image: url("../images/search_cross.svg");
  background-size: contain;
}
header div.menu_popup {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 6;
  background: black;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header div.menu_popup a.logotype {
  justify-self: center;
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 2px;
}
header div.menu_popup form input {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 48px;
  padding: 20px 24px;
  width: 100%;
  background: rgba(11, 15, 21, 0.7);
  font-size: 14px;
}
@media (min-width: 480px) {
  header div.menu_popup form input {
    font-size: calc(0.003125 * 100vw + 12.5px);
  }
}
@media (min-width: 1760px) {
  header div.menu_popup form input {
    font-size: 18px;
  }
}
header div.menu_popup form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.menu_popup form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.menu_popup form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.menu_popup form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.menu_popup form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
header div.menu_popup form input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-image: url("../images/search_cross.svg");
  background-size: contain;
}
header div.menu_popup div.menu {
  margin-top: 30px;
}
header div.menu_popup div.menu div.item {
  border-top: 1px solid rgba(255, 255, 255, 0.3019607843);
}
header div.menu_popup div.menu div.item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3019607843);
}
header div.menu_popup div.menu div.title {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
}
header div.menu_popup div.menu div.title a, header div.menu_popup div.menu div.title span {
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}
header div.menu_popup div.menu div.submenu {
  display: grid;
  grid-template-rows: 0fr;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header div.menu_popup div.menu div.submenu div.overflow {
  overflow: hidden;
}
header div.menu_popup div.menu div.submenu div.list {
  display: grid;
  grid-gap: 16px;
  padding-top: 4px;
  padding-bottom: 20px;
}
header div.menu_popup div.menu div.submenu a {
  opacity: 0.8;
}
header div.menu_popup div.menu div.submenu.open {
  grid-template-rows: 1fr;
}
header div.menu_popup a.phone_mobile {
  margin-top: 24px;
  margin-bottom: 30px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  grid-gap: 8px;
  font-size: 16px;
}
@media (min-width: 480px) {
  header div.menu_popup a.phone_mobile {
    font-size: calc(0.003125 * 100vw + 14.5px);
  }
}
@media (min-width: 1760px) {
  header div.menu_popup a.phone_mobile {
    font-size: 20px;
  }
}
header div.menu_popup button {
  display: grid !important;
  width: 100%;
}
header div.menu_popup img.cross {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}
header div.backdrop {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;
}
header.menu div.backdrop {
  opacity: 1;
  pointer-events: auto;
}
header.menu div.menu_popup {
  opacity: 1;
  pointer-events: auto;
}
header.search div.backdrop {
  opacity: 1;
  pointer-events: auto;
}
header.search div.search_popup {
  opacity: 1;
  pointer-events: auto;
}

footer {
  background: #000;
}
footer div.top {
  position: relative;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "Logotype Services More Socials" "Contacts Services More Socials";
  grid-gap: 48px var(--grid-gap);
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
  z-index: 2;
}
@media (max-width: 1280px) {
  footer div.top {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "Logotype Services More" "Contacts Services Socials";
  }
}
@media (max-width: 960px) {
  footer div.top {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "Logotype Logotype" "Services More" "Contacts Socials";
  }
}
@media (max-width: 640px) {
  footer div.top {
    grid-template-columns: 1fr;
    grid-gap: 30px var(--grid-gap);
    grid-template-areas: "Logotype" "Menus" "Contacts" "Socials";
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
footer div.top h4 {
  margin-bottom: 24px;
}
@media (max-width: 1280px) {
  footer div.top h4 {
    margin-bottom: 14px;
  }
}
@media (max-width: 640px) {
  footer div.top h4 {
    margin-bottom: unset;
  }
}
footer div.top a, footer div.top span {
  color: rgba(255, 255, 255, 0.7);
  padding: 8px 0;
}
footer div.top a.logotype {
  grid-area: Logotype;
  padding: unset;
}
footer div.top a.logotype img {
  width: calc(100% - 32px);
  max-width: 255px;
}
@media (max-width: 640px) {
  footer div.top a.logotype img {
    max-width: 120px;
  }
}
footer div.top div.contacts {
  grid-area: Contacts;
}
@media (max-width: 1280px) {
  footer div.top div.contacts {
    -ms-flex-item-align: end;
        align-self: end;
  }
}
@media (max-width: 960px) {
  footer div.top div.contacts {
    -ms-flex-item-align: start;
        align-self: start;
  }
}
footer div.top div.contacts a, footer div.top div.contacts span {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 12px;
  max-width: 280px;
}
@media (max-width: 640px) {
  footer div.top div.contacts a, footer div.top div.contacts span {
    max-width: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer div.top div.contacts a:hover {
  color: #15A0FD;
}
footer div.top div.contacts a:hover svg path {
  stroke: #15A0FD;
}
footer div.top div.menus {
  grid-area: Menus;
  display: contents;
}
@media (max-width: 640px) {
  footer div.top div.menus {
    display: grid;
  }
}
footer div.top div.services,
footer div.top div.more {
  display: grid;
  margin-top: 10px;
}
@media (max-width: 1280px) {
  footer div.top div.services,
  footer div.top div.more {
    margin-top: unset;
  }
}
@media (max-width: 640px) {
  footer div.top div.services,
  footer div.top div.more {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
footer div.top div.services div.title,
footer div.top div.more div.title {
  cursor: pointer;
}
@media (max-width: 640px) {
  footer div.top div.services div.title,
  footer div.top div.more div.title {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
footer div.top div.services div.title img,
footer div.top div.more div.title img {
  display: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 640px) {
  footer div.top div.services div.title img,
  footer div.top div.more div.title img {
    display: grid;
  }
}
footer div.top div.services div.menu,
footer div.top div.more div.menu {
  display: grid;
  grid-template-rows: 1fr;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 640px) {
  footer div.top div.services div.menu,
  footer div.top div.more div.menu {
    grid-template-rows: 0fr;
  }
}
footer div.top div.services div.menu div.overflow,
footer div.top div.more div.menu div.overflow {
  overflow: hidden;
}
footer div.top div.services div.menu div.list,
footer div.top div.more div.menu div.list {
  display: grid;
}
@media (max-width: 640px) {
  footer div.top div.services div.menu div.list,
  footer div.top div.more div.menu div.list {
    margin-bottom: 15px;
  }
}
footer div.top div.services div.menu div.list a,
footer div.top div.more div.menu div.list a {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (max-width: 640px) {
  footer div.top div.services div.menu div.list a,
  footer div.top div.more div.menu div.list a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
footer div.top div.services div.menu div.list a:hover,
footer div.top div.more div.menu div.list a:hover {
  color: #15A0FD;
}
footer div.top div.services.open div.title img,
footer div.top div.more.open div.title img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
footer div.top div.services.open div.menu,
footer div.top div.more.open div.menu {
  grid-template-rows: 1fr;
}
footer div.top div.services {
  grid-area: Services;
}
@media (max-width: 640px) {
  footer div.top div.services {
    grid-area: unset;
  }
}
footer div.top div.more {
  grid-area: More;
}
@media (max-width: 640px) {
  footer div.top div.more {
    grid-area: unset;
    border-top: unset;
  }
}
footer div.top div.socials {
  grid-area: Socials;
  display: grid;
  margin-top: 10px;
}
@media (max-width: 1280px) {
  footer div.top div.socials {
    -ms-flex-item-align: end;
        align-self: end;
    margin-top: unset;
  }
}
@media (max-width: 640px) {
  footer div.top div.socials {
    grid-auto-flow: column;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-gap: 32px;
  }
}
@media (max-width: 640px) {
  footer div.top div.socials h4 {
    display: none;
  }
}
footer div.top div.socials a {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 12px;
}
footer div.top div.socials a:hover {
  text-decoration: underline;
  color: #15A0FD;
}
footer div.top div.socials a:hover svg path {
  fill: #15A0FD;
}
footer div.top img.scroll_top {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 960px) {
  footer div.top img.scroll_top {
    display: none;
  }
}
footer div.top img.scroll_top:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
footer div.bottom {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: var(--grid-gap);
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.3019607843);
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 2;
  font-size: 12px;
}
@media (min-width: 480px) {
  footer div.bottom {
    font-size: calc(0.003125 * 100vw + 10.5px);
  }
}
@media (min-width: 1760px) {
  footer div.bottom {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  footer div.bottom {
    grid-auto-flow: unset;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
@media (max-width: 960px) {
  footer div.bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  footer div.bottom {
    grid-template-columns: 1fr;
  }
}
footer div.bottom a {
  text-decoration: underline;
}
footer div.bottom a:hover {
  text-decoration: none;
}
footer div.bottom a.develop {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  grid-gap: 5px;
  text-decoration: none;
}
@media (max-width: 1280px) {
  footer div.bottom a.develop {
    grid-column: 2 span;
  }
}
@media (max-width: 640px) {
  footer div.bottom a.develop {
    grid-column: unset;
  }
}
footer img.background {
  grid-column: full;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
  z-index: 1;
}

div#cookie-banner {
  position: fixed;
  right: var(--side-gap);
  bottom: var(--section-gap);
  background: white;
  width: 620px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 20px;
  padding: 32px;
  color: black;
  z-index: 999;
  display: none;
}
@media (max-width: 960px) {
  div#cookie-banner {
    padding: 24px;
  }
}
@media (max-width: 640px) {
  div#cookie-banner {
    grid-template-columns: 1fr;
    width: 100%;
    bottom: 0;
    right: 0;
  }
}
div#cookie-banner a {
  text-decoration: underline;
}
div#cookie-banner a:hover {
  text-decoration: none;
}
@media (max-width: 640px) {
  div#cookie-banner button {
    width: 100%;
  }
}
div#cookie-banner.show {
  display: grid;
}/*# sourceMappingURL=common.css.map */