@use '../../components/common/sass/_variables' as *
@use '../../components/common/sass/_mixins' as *

section.advantages
    margin-top: var(--section-gap)
    margin-bottom: var(--section-gap)

    div.container
        display: grid
        grid-gap: 64px
        +s(m)
            grid-gap: 32px
        +s(s)
            grid-gap: 20px

    h2
        color: black

    div.list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: var(--grid-gap)
        +s(s)
            grid-template-columns: 1fr

        div.advantage
            display: grid
            align-content: end
            position: relative
            border-radius: 20px
            overflow: clip
            padding: 56px 40px
            background: black
            +s(m)
                padding: 32px 24px

            div.text
                margin-top: 170px
                position: relative
                padding-top: 24px
                border-top: 1px solid rgba(255, 255, 255, 0.4)
                display: grid
                grid-gap: 16px
                z-index: 1
                +s(m)
                    margin-top: 120px
                +s(s)
                    grid-gap: 10px
                    margin-top: 78px

                br
                    +s(s)
                        display: none

                span
                    opacity: 0.7
                    +s(m)
                        line-height: 130%

            img.background
                position: absolute
                top: 0
                left: 0
                +s(m)
                    transform-origin: left top
                    transform: scale(0.7)
                +s(s)
                    transform: scale(0.55)
