@use '../../components/common/sass/_variables' as *
@use '../../components/common/sass/_mixins' as *

header
    padding-top: 16px
    padding-bottom: 16px
    position: absolute
    background: unset
    z-index: 3
    +s(s)
        padding-top: 24px
        padding-bottom: 24px

    div.container
        display: grid
        align-items: center
        grid-template-columns: max-content 1fr
        grid-auto-flow: column
        grid-auto-columns: max-content
        grid-gap: 48px
        +s(xl)
            grid-gap: 32px

    a.logotype
        padding-right: 28px
        +s(xs)
            align-self: center
            justify-self: center
            padding-right: unset
        img
            width: 160px
            +s(l)
                width: 120px

    div.mobile_menu
        display: none
        cursor: pointer
        +s(l)
            display: block

    menu
        display: grid
        grid-auto-flow: column
        grid-auto-columns: max-content
        grid-gap: 56px
        +s(xl)
            grid-gap: 32px
        +s(l)
            display: none

        div.submenu
            position: relative
            cursor: pointer
            div.title
                display: grid
                grid-auto-flow: column
                grid-auto-columns: max-content
                grid-gap: 8px
                img
                    transition: all 0.2s
            div.list
                display: grid
                grid-template-rows: 0fr
                transition: all 0.5s
                position: absolute
                top: calc(100% + 16px)
                left: 0
                z-index: 1
                background: black
                width: max-content
                div.overflow
                    overflow: hidden
                div.wrap
                    display: grid
                    padding: 16px
                a
                    padding-top: 16px
                    padding-bottom: 16px
                    border-bottom: 1px solid #ffffff4d
                    &:last-child
                        border: unset
                    &:hover
                        color: #15A0FD
            div.title.open
                img
                    transform: rotate(180deg)
                & + div.list
                    grid-template-rows: 1fr

        .link
            position: relative
            &::after
                content: ''
                position: absolute
                top: 100%
                left: 0
                display: block
                width: 0%
                height: 4px
                background: #15A0FD
                margin-top: 10px
                transition: all 0.5s
            &:hover
                &::after
                    width: 100%

    div.search
        cursor: pointer
        display: grid
        align-items: center
        grid-template-columns: repeat(2, max-content)
        grid-gap: 8px
        border: 1px solid #15A0FD
        border-radius: 60px
        padding: 12px 16px
        padding-right: 24px
        color: rgba(21, 160, 253, 0.7)
        transition: all 0.5s
        +s(m)
            display: none

        svg path
            transition: all 0.5s

        &:hover
            border-color: #76c8ff
            color: #76c8ff
            svg
                path
                    stroke: #76c8ff

    a.phone
        display: grid
        align-items: center
        grid-template-columns: repeat(2, max-content)
        grid-gap: 8px
        span
            transition: all 0.3s
            +s(xs)
                display: none

        &:hover
            span
                color: #15A0FD

    button
        padding-top: 12px
        padding-bottom: 12px
        +s(s)
            display: none

    div.search_popup
        opacity: 0
        pointer-events: none
        display: block
        position: absolute
        top: 140px
        left: 50%
        z-index: 6
        transform: translateX(-50%)
        max-width: 900px
        width: 100%
        padding-left: var(--side-gap)
        padding-right: var(--side-gap)
        transition: all 0.5s
        input
            border: 1px solid rgba(255, 255, 255, 0.6)
            border-radius: 48px
            padding: 20px 24px
            width: 100%
            background: rgba(11, 15, 21, 0.7)
            +f(12px, 18px)
            &::placeholder
                color: rgba(255, 255, 255, 0.6)

            &::-webkit-search-cancel-button
                appearance: none
                cursor: pointer
                height: 24px
                width: 24px
                background-image: url('../images/search_cross.svg')
                background-size: contain

    div.menu_popup
        display: grid
        align-content: start
        position: absolute
        top: 0
        left: 0
        height: 100vh
        width: 100%
        z-index: 6
        background: black
        padding: 20px
        opacity: 0
        pointer-events: none
        transition: all 0.5s

        a.logotype
            justify-self: center
            margin-top: 8px
            margin-bottom: 30px
            margin-left: 2px

        form
            input
                border: 1px solid rgba(255, 255, 255, 0.6)
                border-radius: 48px
                padding: 20px 24px
                width: 100%
                background: rgba(11, 15, 21, 0.7)
                +f(14px, 18px)
                &::placeholder
                    color: rgba(255, 255, 255, 0.6)

                &::-webkit-search-cancel-button
                    appearance: none
                    cursor: pointer
                    height: 24px
                    width: 24px
                    background-image: url('../images/search_cross.svg')
                    background-size: contain

        div.menu
            margin-top: 30px
            div.item
                border-top: 1px solid #ffffff4d
                &:last-child
                    border-bottom: 1px solid #ffffff4d

            div.title
                display: grid
                align-items: center
                grid-template-columns: 1fr
                grid-auto-flow: column
                grid-auto-columns: max-content
                a, span
                    cursor: pointer
                    display: block
                    font-size: 14px
                    padding-top: 12px
                    padding-bottom: 12px
            div.submenu
                display: grid
                grid-template-rows: 0fr
                transition: all 0.5s
                div.overflow
                    overflow: hidden
                div.list
                    display: grid
                    grid-gap: 16px
                    padding-top: 4px
                    padding-bottom: 20px
                a
                    opacity: 0.8
                &.open
                    grid-template-rows: 1fr

        a.phone_mobile
            margin-top: 24px
            margin-bottom: 30px
            display: grid
            align-items: center
            grid-template-columns: repeat(2, max-content)
            grid-gap: 8px
            +f(16px, 20px)

        button
            display: grid !important
            width: 100%

        img.cross
            cursor: pointer
            position: absolute
            top: 20px
            left: 20px

    div.backdrop
        display: block
        width: 100%
        height: 100%
        position: fixed
        top: 0
        left: 0
        background: rgba(0,0,0,0.6)
        z-index: 5
        transition: all 0.5s
        opacity: 0
        pointer-events: none

    &.menu

        div.backdrop
            opacity: 1
            pointer-events: auto

        div.menu_popup
            opacity: 1
            pointer-events: auto

    &.search

        div.backdrop
            opacity: 1
            pointer-events: auto

        div.search_popup
            opacity: 1
            pointer-events: auto

    hr.divide
        position: absolute
        bottom: 0
        left: 0
        grid-column: full
        width: 100%
        height: 1px
        background: white
        opacity: 0.2
