@use '../../components/common/sass/_variables' as *
@use '../../components/common/sass/_mixins' as *

section.stages
    margin-top: var(--section-gap)
    margin-bottom: var(--section-gap)
    color: black

    div.container
        display: grid
        grid-gap: 80px
        +s(m)
            grid-gap: 40px
        +s(s)
            grid-gap: 20px

    div.list
        display: grid
        align-items: start
        grid-template-columns: repeat(4, 1fr)
        grid-gap: var(--grid-gap)
        +s(s)
            grid-template-columns: 1fr

        div.item
            position: relative
            display: grid
            grid-gap: 16px
            +s(m)
                grid-gap: 10px
            +s(s)
                padding-left: 30px

            div.line
                display: grid
                align-items: center
                grid-template-columns: max-content 1fr
                grid-gap: 8px
                +s(s)
                    position: absolute
                    top: 0
                    left: 0
                    grid-template-columns: max-content
                    grid-template-rows: max-content 1fr
                    height: 100%
                    justify-items: center

                div
                    position: relative
                    width: calc(100% + var(--grid-gap) - 8px)
                    height: 2px
                    background: #cbd7e8
                    +s(s)
                        height: 100%
                        width: 2px

                &::before
                    content: ''
                    display: block
                    width: 10px
                    height: 10px
                    background: #cbd7e8

            img
                margin-top: 48px
                margin-bottom: 24px
                +s(m)
                    width: 30px
                    height: 30px
                    margin-top: 8px
                    margin-bottom: unset

            span
                opacity: 0.6
                +s(s)
                    padding-bottom: 10px

            h3
                +s(s)
                    +f(20px, 32px)

        &.animate
            div.item
                div.line
                    div
                        &::after
                            content: ''
                            display: block
                            position: absolute
                            top: 0
                            left: 0
                            width: 0
                            height: 2px
                            background: #15A0FD
                            animation-name: stages_width
                            animation-duration: 2s
                            animation-fill-mode: forwards
                            animation-timing-function: linear
                            +s(s)
                                width: 2px
                                height: 0
                                animation-name: stages_height
                    &::after
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        display: block
                        width: 0
                        height: 10px
                        background: #15A0FD
                        animation-name: square_width
                        animation-duration: 0.5s
                        animation-fill-mode: forwards
                        animation-timing-function: linear
                        +s(s)
                            width: 10px
                            height: 0
                            animation-name: square_height
                &:nth-child(1)
                    div.line
                        div:after
                            animation-delay: 0.5s
                &:nth-child(2)
                    div.line
                        div:after
                            animation-delay: 3s
                        &::after
                            animation-delay: 2.5s
                &:nth-child(3)
                    div.line
                        div:after
                            animation-delay: 5.5s
                        &::after
                            animation-delay: 5s
                &:nth-child(4)
                    div.line
                        div:after
                            animation-delay: 8s
                        &::after
                            animation-delay: 7.5s

@keyframes stages_width
    0%
        width: 0%
    100%
        width: 100%

@keyframes square_width
    0%
        width: 0px
    100%
        width: 10px

@keyframes stages_height
    0%
        height: 0%
    100%
        height: 100%

@keyframes square_height
    0%
        height: 0px
    100%
        height: 10px
